<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="qtools2 web ui">
    <meta name="author" content="bciar">

    <title>QTools2</title>

    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">
  </head>

  <body>

    <main role="main" class="container">
        <div class="qtools-container">
            <div class="jumbotron">
                <div class="container">
                <h1 class="display-3">QTools2</h1>
                <p>Questionnaire Tools for ODK<br> Qtools2 provides tools and utilities for dealing with PMA2020 questionnaires. It converts the XLSForms to XML and then does all appropriate edits. It also can be used as a simple XLSForm Offline converter.</p>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
    </main><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="../static/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
